@font-face {
	font-family: 'helvHead';
	src: 	url('fonts/helvHead.woff') format('woff'),
		url('fonts/helvHead.ttf') format('truetype');
}
@font-face {
	font-family: 'helvText';
	src:	url('fonts/helvText.woff') format('woff'),
		url('fonts/helvText.ttf') format('truetype');
}
a:link,
a:visited {
	color: #bf0063;
	text-decoration: none;
}
a:hover {
	color: #9c0051;
	text-decoration: underline;
	text-shadow: 0 0 5px #ff0;
}
body {
	width: 800px;
	margin: 0 auto;
}
h1 {
	font-family: helvHead;
}
p {
	font-family: helvText;
	line-height: 15px;
	margin: 0px;
	/* text-indent: 2em; */
}
#box {
	background: #e0e0e0;
	border: 2px solid #000000;
	border-radius: 7px;
	margin: 10px;
	padding: 1em;
	transition: all 0.5s ease-in-out;
}
#box:hover {
	background: #f0f0f0;
}
block {
	background: #bbbbbb;
	border: 2px solid #000000;
	border-radius: 14px;
	flex: 3;
	margin: 10px;
	padding: 3px;
}
sidebar {
	flex: 1;
	position: sticky;
	top: 10px;
}
content {
	align-items: flex-start;
	display: flex;
}
.toggle {
	position: relative;
	display: inline-block;
	width: 75px;
	height: 42px;
}
.toggle input[type="checkbox"] {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
}
.toggle label {
	position: relative;
	display: inline-block;
	align-items: center;
	box-sizing: border-box;
	display: inline-flex;
}
.toggle label:before {
	content: '';
	width: 75px;
	height: 42px;
	background: #ccc;
	position: relative;
	display: inline-block;
	border-radius: 46px;
	box-sizing: border-box;
	transition: 0.1s;
}
.toggle label:after {
	content: '';
	position: absolute;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	left: 2px;
	top: 2px;
	z-index: 2;
	background: #fff;
	box-sizing: border-box;
	transition: 0.1s;
}
.toggle input[type="checkbox"]:checked + label:before {
	background: #4BD865;
}
.toggle input[type="checkbox"]:checked + label:after {
	left: 35px;
}
