@font-face {
	font-family: 'helvHead';
	src: 	url('fonts/helvHead.woff') format('woff'),
		url('fonts/helvHead.ttf') format('truetype');
}
@font-face {
	font-family: 'helvText';
	src:	url('fonts/helvText.woff') format('woff'),
		url('fonts/helvText.ttf') format('truetype');
}
a:link,
a:visited {
	color: #bf0063;
	text-decoration: none;
}
a:hover {
	color: #9c0051;
	text-decoration: underline;
	text-shadow: 0 0 5px #ff0;
}
body {
	width: 700px;
	margin: 0 auto;
}
h1 {
	font-family: helvHead;
}
p {
	font-family: helvText;
	line-height: 15px;
	margin: 0px;
	text-indent: 2em;
}
#test {
	background: rgb(200 200 200 / 10%);
	border: 2px solid rgb(0 0 0);
	border-radius: 7px;
	margin: 10px;
	padding: 1em;
	transition: all 0.5s ease-in-out;
}
#test:hover {
	background: rgb(200 200 200 / 30%);
}