@font-face {
    font-family: 'helvHead';
    src: url('fonts/helvetica-bold.woff') format('woff'),
        url('fonts/helvetica-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'helvText';
    src: url('fonts/helvetica.woff') format('woff'),
        url('fonts/helvetica.ttf') format('truetype');
}

@font-face {
    font-family: 'boto';
    src: url('fonts/Roboto-Medium.woff') format('woff'),
}

@font-face {
    font-family: 'fixedsys';
    src:url('fonts/fixedEx.woff') format('woff'),
        url('fonts/fixedEx.ttf') format('truetype');
}

html,
body {
    margin: 0;
    height: 100%;
}

a:link,
a:visited {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
    text-shadow: 0 0 10px yellow;
}

a:active {
    color: red;
}

.content {
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.center_content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    align-items: center;
    justify-content:flex-start;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    width: 200px;
    height: 40px;
    gap:5px;
}

.box_icon {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box_icon_img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin:0;
    padding:0;
}

.box_label {
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.p_label {
    font-family:helvHead;
    font-size:25px;
    margin:0;
    padding:0px;
    /* text-indent: 2em; */
}
.p_sublabel {
    font-family:helvText;
    font-size:10px;
    margin:0;
}

.p_header {
	font-family: fixedsys;
    font-size:30px;
    margin:0;
}

.rotate {
    animation: rotation 16s;
}

.linear {
    animation-timing-function: linear;
}

.infinite {
    animation-iteration-count: infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}