.popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-content {
  background: white;
  padding: 40px;
  border-radius: 8px;
}
#redbutton {
	background-color: #FF0000;
    cursor:pointer;
}
#greenbutton {
	background-color: #00FF00;
    cursor:pointer;
}
