html, body {
    font-family: "EB Garamond", Garamond, serif;
}
.popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-content {
  background: white;
  padding: 40px;
  border-radius: 8px;
  display: flex;          
  flex-direction: column; 
  align-items: center;   
  justify-content: center;
  text-align: center;
}
#redbutton {
	background-color: #FF0000;
    cursor:pointer;
}
#greenbutton {
	background-color: #00FF00;
    cursor:pointer;
}
