html, body {
    font-family: "EB Garamond", Garamond, serif;
}
.popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-content {
  background: white;
  padding: 40px;
  border-radius: 8px;
  display: flex;          
  flex-direction: column; 
  align-items: center;   
  justify-content: center;
  text-align: center;
}
#redbutton {
	background-color: #FF0000;
    cursor:pointer;
}
#greenbutton {
	background-color: #00FF00;
    cursor:pointer;
}
.about {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	padding: 20px;
}
.about-col-left {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	padding: 10px;
}
#about-image {
	padding: 10px, 10px, 10px, 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
